.navbar {
  position: fixed;
  top: 0;
  width: 100%;  
  justify-content: center;
  gap: 20px;
  background-color: #121212;
  padding: 10px;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #555;
}


.content {
  padding-top: 60px;
}


.contact-page {
  text-align: center;
  padding: 40px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.header {
  padding: 50px;
  background-color: #064cbd;
}

.btn {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

section {
  padding: 20px;
}

footer {
  background-color: #20232a;
  padding: 10px;
}
